<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!--Header-->
    <context-param>
        <param-name>contextHeader1</param-name>
        <param-value>Welcome to ActiveLearning</param-value>
    </context-param>
    <context-param>
        <param-name>contextHeader2</param-name>
        <param-value>LOGIN</param-value>
    </context-param>
    <context-param>
        <param-name>contextHeader3</param-name>
        <param-value>CAPTCHA</param-value>
    </context-param>
    <context-param>
        <param-name>contextHeader4</param-name>
        <param-value>ADMIN LOG</param-value>
    </context-param>
    <context-param>
        <param-name>contextError</param-name>
        <param-value>ERROR IN PASSWORD</param-value>
    </context-param>
    <context-param>
        <param-name>contextHeader5</param-name>
        <param-value>STUDENT LOG</param-value>
    </context-param>
    <context-param>
        <param-name>contextHeader6</param-name>
        <param-value>STUDENT VIEW</param-value>
    </context-param>
    <context-param>
        <param-name>contextHeader7</param-name>
        <param-value>LOGIN VIEW</param-value>
    </context-param>
    <context-param>
        <param-name>contextHeader8</param-name>
        <param-value>LOGIN SEARCH</param-value>
    </context-param>
    <context-param>
        <param-name>contextHeader9</param-name>
        <param-value>ENROLLMENT EXPENSE SEARCH</param-value>
    </context-param>
    <context-param>
        <param-name>contextHeader10</param-name>
        <param-value>ENROLLMENT LOG</param-value>
    </context-param>
    <context-param>
        <param-name>contextHeader11</param-name>
        <param-value>ENROLLMENT LOGS</param-value>
    </context-param>
    <!--Footer-->
    <context-param>
        <param-name>contextFooter1</param-name>
        <param-value>© 2024 </param-value>
    </context-param>
    <context-param>
        <param-name>contextFooter2</param-name>
        <param-value>ActiveLearning</param-value>
    </context-param>
    <context-param>
        <param-name>contextFooter3</param-name>
        <param-value>, Inc. All Rights Reserved.</param-value>
    </context-param>
    <!--Key-->
    <context-param>
        <param-name>key</param-name>
        <param-value>unpredictability</param-value>
    </context-param>
    <!--Cipher-->
    <context-param>
        <param-name>cipher</param-name>
        <param-value>AES/ECB/PKCS5Padding</param-value>
    </context-param>
    <!--Login-Servlet-->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>test.Login</servlet-class>
        <!--DBname-->
        <init-param>
            <description>this is the Database Name</description>
            <param-name>DBname</param-name>
            <param-value>LoginDB</param-value>
        </init-param>
        <!--DBusername-->
        <init-param>
            <description>this is the Database username</description>
            <param-name>DBusername</param-name>
            <param-value>app</param-value>
        </init-param>
        <!--DBpassword-->
        <init-param>
            <description>this is the Database password</description>
            <param-name>DBpassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <!--DBdriver-->
        <init-param>
            <description>this is the Database Driver</description>
            <param-name>DBdriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <!--DBurl-->
        <init-param>
            <description>this is the Database URL</description>
            <param-name>DBurl</param-name>
            <param-value>jdbc:derby://localhost:1527/LoginDB</param-value>
        </init-param>
        <!--login username-->
        <init-param>
            <description>this is the login username</description>
            <param-name>username</param-name>
            <param-value>loginUsername</param-value>
        </init-param>
        <!--login password-->
        <init-param>
            <description>this is the login password</description>
            <param-name>password</param-name>
            <param-value>loginPassword</param-value>
        </init-param>
    </servlet>
    <!--Logout Servlet-->
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>test.Logout</servlet-class>
    </servlet>
    <!--Captcha Servlet-->
    <servlet>
        <servlet-name>Captcha</servlet-name>
        <servlet-class>test.Captcha</servlet-class>
        <init-param>
            <param-name>captchaLength</param-name>
            <param-value>4</param-value>
        </init-param>
    </servlet>
    <!--ViewRecords Servlet-->
    <servlet>
        <servlet-name>ViewRecords</servlet-name>
        <servlet-class>test.ViewRecords</servlet-class>
        <!--DBname-->
        <init-param>
            <description>this is the Login Database Name</description>
            <param-name>DBname</param-name>
            <param-value>LoginDB</param-value>
        </init-param>
        <!--DBusername-->
        <init-param>
            <description>this is the Login Database username</description>
            <param-name>DBusername</param-name>
            <param-value>app</param-value>
        </init-param>
        <!--DBpassword-->
        <init-param>
            <description>this is the Login Database password</description>
            <param-name>DBpassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <!--DBdriver-->
        <init-param>
            <description>this is the Login Database Driver</description>
            <param-name>DBdriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <!--DBurl-->
        <init-param>
            <description>this is the Login Database URL</description>
            <param-name>DBurl</param-name>
            <param-value>jdbc:derby://localhost:1527/LoginDB</param-value>
        </init-param>
        <!--ExpDBname-->
        <init-param>
            <description>this is the Student Expenses Database Name</description>
            <param-name>ExpDBname</param-name>
            <param-value>ExpensesDB</param-value>
        </init-param>
        <!--ExpDBusername-->
        <init-param>
            <description>this is the Student Expenses Database username</description>
            <param-name>ExpDBusername</param-name>
            <param-value>admin</param-value>
        </init-param>
        <!--ExpDBpassword-->
        <init-param>
            <description>this is the Student Expenses Database password</description>
            <param-name>ExpDBpassword</param-name>
            <param-value>123</param-value>
        </init-param>
        <!--ExpDBdriver-->
        <init-param>
            <description>this is the Database Driver</description>
            <param-name>ExpDBdriver</param-name>
            <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
        </init-param>
        <!--ExpDBurl-->
        <init-param>
            <description>this is the Database URL</description>
            <param-name>ExpDBurl</param-name>
            <param-value>jdbc:sqlserver://localhost\\SQLEXPRESS:1433;databaseName=ExpensesDB;encrypt=true;trustServerCertificate=true;</param-value>
        </init-param>
    </servlet>
    <!--GeneratePDF servlet-->
     <servlet>
        <servlet-name>GeneratePDF</servlet-name>
        <servlet-class>test.GeneratePDF</servlet-class>
    </servlet>
    <!--Servlet Mapping -->   
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Captcha</servlet-name>
        <url-pattern>/Captcha</url-pattern>
    </servlet-mapping>
    <!--Custom error pages-->
    <error-page>
        <error-code>404</error-code>
        <location>/error_4.jsp</location>
    </error-page>
    <error-page>
        <exception-type>javax.security.sasl.AuthenticationException</exception-type>
        <location>/error_2.jsp</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/noLoginCredentials.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>GeneratePDF</servlet-name>
        <url-pattern>/GeneratePDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRecords</servlet-name>
        <url-pattern>/ViewRecords</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
